<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="admin_sales">
 	<select id="getSales_list" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select rst.* from 
		(select b.*, rownum rnum from 
		(select pay_date, count(*) count, sum(price) price, nvl(sum(charge), 0)charge from
		(select order_qty, to_char(pay_date, #{term}) pay_date, price, charge from (select * from ordertbl o left join dhl d on o.dhl = d.num) where state = 5 and to_date(to_char(pay_date)) between to_date(#{begin}) and to_date(#{final}) ) group by pay_date order by pay_date
		<choose>
			<when test="sort == 'asc'">
				asc
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
		)
		b) rst where rnum between #{start} and #{end}
 	</select>
 	
 	<select id="getSales_list_count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
 		select count(*) count from 
		(select pay_date, sum(order_qty) qty, sum(price) price from
		(select order_qty, to_char(pay_date, #{term}) pay_date, price from ORDERTBL where state = 5 and to_date(to_char(pay_date)) between to_date(#{begin}) and to_date(#{final}) ) group by pay_date)b
 	</select>
 
 	<select id="getSales_excel" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select rst.* from 
		(select b.*, rownum rnum from 
		(select pay_date, count(*) count, sum(price) price, nvl(sum(charge), 0)charge from
		(select order_qty, to_char(pay_date, #{term}) pay_date, price, charge from (select * from ordertbl o left join dhl d on o.dhl = d.num) where state = 5 and to_date(to_char(pay_date)) between to_date(#{begin}) and to_date(#{final}) ) group by pay_date order by pay_date
		<choose>
			<when test="sort == 'asc'">
				asc
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
		)
		b) rst
 	</select>
 </mapper>