<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin_admin">
	<select id="admin_list" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from (select o.*, ROWNUM rnum from (select * from ADMIN_MEMBER where id != 'admin' 
		<if test="type != null and type != ''">
			and ${type} like #{value}
		</if>
		order by joindate desc) o) r where r.rnum BETWEEN #{start} and #{end}
	</select>
	
	<select id="admin_list_count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) count from (select o.*, ROWNUM rnum from (select * from ADMIN_MEMBER
		<if test="type != null and type != ''">
			where ${type} like #{value}
		</if>
		order by joindate desc) o) r
	</select>
	
	<select id="admin_modify" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		update admin_member set pass = #{newpass} where id = #{id} and pass = #{pass}
	</select>
	
	<delete id="admin_del" parameterType="java.util.HashMap">
		delete admin_member where id = #{id}
	</delete>
	
	<insert id="admin_create" parameterType="java.util.HashMap">
		insert into admin_member values(#{id}, #{pass}, sysdate, #{owner})
	</insert>
</mapper>